/* Forms */

.form-group-style{
    input[type=text] {
        width: 100%;
        padding: .825rem 1rem;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: $colour-body;
        color: $colour-primary;
        border: 1px solid #ebebeb;
        border-radius: 1rem;
        outline-color: $colour-primary;
    }

    input[type=email] {
        width: 100%;
        padding: .825rem 1rem;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: $colour-body;
        color: $colour-primary;
        border: 1px solid #ebebeb;
        border-radius: 1rem;
        outline-color: $colour-primary;
    }
   
        input[type=password] {
            width: 100%;
            padding: .825rem 1rem;
            box-sizing: border-box;
            border-radius: 8px;
            background-color: $colour-body;
            color: $colour-primary;
            border: 1px solid #ebebeb;
            border-radius: 1rem;
            outline-color: $colour-primary;

       
   

    }

 

    input[type=file] {
        width: 100%;
        padding: .825rem 1rem;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: $colour-body;
        color: $colour-primary;
        border: 1px solid #ebebeb;
        border-radius: 1rem;
        outline-color: $colour-primary;
     
    
    }
    input::file-selector-button {

        font-family: $font-text;
        font-size: 18px;
        font-weight: $font-medium;
        color: $colour-body;
        padding: 0.5em;
        border: thin solid $colour-primary;
        border-radius: 24px;
        background: $colour-primary;
        padding-top: 10px;
        padding-left: 28px;
        padding-right: 28px;
        padding-bottom: 10px;
        &:hover{
            color: $colour-body;
            background: $colour-hover-primary;
            border: 1px solid $colour-hover-primary;
        }
      }
      


    
   
  
    
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ebebeb;
        border-radius: 16px;
        color: $colour-primary;
        background-color: white;
        font-size: 16px;
        resize: none;
        outline-color: $colour-primary;
    }

  

    & p{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;
        & i{
            margin-right: 3px;
        }
        color:#d60000;;
    }

    .form-check-input:checked {
        background-color: $colour-primary;
        border: 0px solid $colour-primary;
    }
}

